.cancel-image{
    width: 100% !important;
    height: 170px !important;
}



.modal .modal-content {
    border-radius: 10px;
  }
  
  .modal .cancel-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .modal .form-check-label {
    font-size: 14px;
    color: #555;
  }
  
  .modal .btn-danger {
    background-color: #d9534f;
    border: none;
  }
  
  .modal .btn-danger:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  